# R文法確認ノートPart2

# CSVの読み込み

In [2]:
getwd()

[1] "/Users/terasakisatoshi/Documents/work/R/syntaxTest"

In [16]:
#ヘッダーなし
data<-read.csv("data.csv",header=FALSE)
data

  V1       V2
1 math     10
2 english  20
3 japanese 30
4 music    40

In [17]:
#ヘッダー指定
data_with_header<-read.csv("data-with-header.csv",header=TRUE)
data_with_header

  subject  points
1 math     50
2 japanese 40
3 program  50
4 science  70

In [20]:
#参照
data_with_header['subject']
data_with_header['points']

  subject
1 math
2 japanese
3 program
4 science

  points
1 50
2 40
3 50
4 70